<FilesMatch "\.php$">
    SetHandler application/x-lsphp84
</FilesMatch>

<IfModule mod_rewrite.c>
    Options +FollowSymLinks -Indexes
    RewriteEngine On

    # ----------------------------------------------------
    # SECURITY: BLOKIR AKSES KE FILE SENSITIF
    # ----------------------------------------------------
    
    # Blokir akses langsung ke file .env, .git, composer.json, dll
    <FilesMatch "^\.|^\.\.|env|composer\.(json|lock)|package(-lock)?\.json|webpack\.mix\.js|yarn\.lock">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # Blokir akses ke folder sistem Laravel
    RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|tests|vendor) - [F,L]
    
    # Blokir akses ke file log
    RewriteRule \.log$ - [F,L]

    # ----------------------------------------------------
    # LARAVEL REWRITE RULES
    # ----------------------------------------------------

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>